{%- for block in section.blocks -%}
<div class="subheader">
	<div class="subheader_menu">
		<div class="menu__item">
      {% case block.settings.select_icon %}
        {% when 'car' %}
            {% render 'icon-car' %}
        {% when 'hand' %}
            {% render 'icon-hand-made' %}
        {% when 'guarantee' %}
            {% render 'icon-guarantee' %}
        {% when 'heart' %}
            {% render 'icon-heart' %}
        {% when 'flag' %}
            {% render 'icon-germany' %}
        {% when 'replacement' %}
            {% render 'icon-replacement' %}
        {% endcase %}
			<p class="menu__title">{{ block.settings.text | escape }}</p>
		</div>
	</div>
</div>
{%endfor%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type":"select",
          "id":"select_icon",
          "label":"Select icon",
          "options":[
             {
                "value":"car",
                "label":"Car"
             },
             {
                "value":"hand",
                "label":"Hand"
             },
             {
                "value":"guarantee",
                "label":"Guarantee"
             },
             {
                "value":"heart",
                "label":"Heart"
             },
             {
                "value":"flag",
                "label":"Flag"
             },
             {
                "value":"replacement",
                "label":"Replacement"
             }
          ],
          "default": "car"
       },
        {
          "type": "text",
          "id": "text",
          "default": "Free shipping from 60€ (DE)",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
