<header class="header">
	<div class="container">
		<div class="panel">
			<div class="tool">
				<div class="phone_number">
					{% render 'icon-phone' %}
					<p class="weight-600 color-pink phone_number">+49 61729452910</p>
				</div>
				<ul class="language">
					<li class="nav_item"><a class="weight-600 color-gray" href="#">EN</a>
						<ul class="submenu">
							<li><a href="">FR</a></li>
							<li><a href="">DE</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<img class="logo" src= "{{ section.settings.logo | img_url: "master" }}" alt="">
			<div class="right_tools">
				<a href="#">
					<div class="icon_hover">{% render 'icon-search' %}</div>
				</a>
				<a href="#">
					<div class="icon_hover">{% render 'icon-user' %}</div>
				</a>
				<a class="like" href="#">
					<div class="icon_hover">{% render 'icon-heart-1' %}</div>
					<div class="counter">6</div>
				</a>
				<a class="like" href="#">
					<div class="icon_hover">{% render 'icon-basket' %}</div>
					<div class="counter">2</div>
				</a>
			</div>
		</div>

		<ul class="nav">
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">Products</a>
				<ul class="submenu">
					<li><a href="">Quiet Books</a></li>
					<li><a href="">Mini Quiet Books</a></li>
					<li><a href="">Booklets</a></li>
					<li><a href="">Wooden Toys</a></li>
					<li><a href="">Wall decorations</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Child Development</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">What are Quiet Books</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Blog</a></li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">About Us</a>
				<ul class="submenu">
					<li><a href="">Quiet Books</a></li>
					<li><a href="">Mini Quiet Books</a></li>
					<li><a href="">Booklets</a></li>
					<li><a href="">Wooden Toys</a></li>
					<li><a href="">Wall decorations</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray select">Support</a>
				<ul class="submenu">
					<li><a href="">Quiet Books</a></li>
					<li><a href="">Mini Quiet Books</a></li>
					<li><a href="">Booklets</a></li>
					<li><a href="">Wooden Toys</a></li>
					<li><a href="">Wall decorations</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="#" class="weight-600 color-gray">Where to Find Us</a></li>
		</ul>
	</div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
